.container{
    text-align: center;
    padding: 20px;
}
.titleWinner{
    font-size: 40px;
    
}
.pokeBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(2, 100px);
    margin-top: 40px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.border{
    border: 1px dashed blue;
    padding: 10px;
}